<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вход</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{~/css/addnews.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?
	family=Amatic+SC|Montserrat:400,700&amp;subset=cyrillic-ext"
          rel="stylesheet">
    <link rel="icon" th:href="@{~/images/stone-icon.png}" type="images/png">
    <script src="https://use.fontawesome.com/3a2eaf6206.js"></script>
</head>
<body>
<div class="container">
    <div class="histnav">
        <a class="active" href="index.html">На Главную</a>
        <a href="news.html">Новости</a>
    </div>
</div>

<div class="form-container log-in-container">
    <form method="POST" enctype="multipart/form-data" th:action="@{~/news/add_news}" th:object="${new_news}">
        <h1>Добавление новостей</h1>
        <input th:field="*{title}" type="text" name="title" placeholder="Заголовок">
        <small class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>
        <input th:field="*{text}" type="text" name="text" placeholder="Текст">
        <small class="text-danger" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"/>
        <input th:field="*{link}" type="text" name="link" placeholder="Ссылка">
        <small class="text-danger" th:if="${#fields.hasErrors('link')}" th:errors="*{link}"/>
        <input th:field="*{date}" type="date" name="date" placeholder="dd.MM.yyyy">
        <small class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"/>
        <input type="file" name="file">
        <input type="submit" class="button1" id value="Добавить новость">
    </form>
</div>

<!--
    <form method="POST" enctype="multipart/form-data" th:action="@{~/news/add_news}" th:object="${new_news}">
        <input th:field="*{title}" type="text" name="title" placeholder="Заголовок"><
        <small class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>
        <input th:field="*{text}" type="text" name="text" placeholder="Текст">
        <small class="text-danger" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"/>
        <input th:field="*{link}" type="text" name="link" placeholder="Ссылка">
        <small class="text-danger" th:if="${#fields.hasErrors('link')}" th:errors="*{link}"/>
        <input th:field="*{date}" type="date" name="date" placeholder="dd.MM.yyyy">
        <small class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"/>
        <input type="file" name="file">
        <input type="submit" value="Добавить новость">
    </form>
    -->
</body>
</html>