<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение новостей</title>
    <link rel="stylesheet" th:href="@{~/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div class="back">
    <div class="fannav">
        <a class="active" th:href="@{~/}">На Главную</a>
        <a th:href="@{~/news/add_news}">Добавить новость</a>
        <a th:href="@{~/news}">Новости</a>
    </div>
</div>

<div class="main">
    <h2 class="side_title">Последние</h2>
    <div class="pic" th:each="news : ${list_news}">

        <a type="button" class="btn btn-success" th:href="@{~/news/control/edit_news(id=${news.newsId})}">Изменить</a>
        <a type="button" class="btn btn-danger" th:href="@{~/news/control/delete_news(id=${news.newsId})}">Удалить</a>
        <br>
        <br>
        <img class="img5" src="" th:src="@{/image/{id}(id=${news.image.getImageId()})}" alt="">
        <div>
            <h1 class="top_text" th:text="${news.title}"/>
            <p class="bott_text" th:text="${news.text}"/>
            <a th:href="${news.link}">[...]</a>
            </p>
            <p class="bott2" th:text="${#dates.format(news.date, 'dd.MM.yyyy')}"/>
        </div>
    </div>
</div>






<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>