<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Новости</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{~/css/style.css}">
    <link href="https://fonts.googleapis.com/css?
	family=Amatic+SC|Montserrat:400,700&amp;subset=cyrillic-ext"
          rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
          integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S"
          crossorigin="anonymous">
    <link rel="icon" th:href="@{~/images/stone-icon.png}" type="images/png">

</head>
<body>

<div class="back">
    <div class="fannav">
        <a class="active" th:href="@{~/}">На Главную</a>
        <a th:href="@{fanats}">Фанаты</a>
        <a th:href="@{history}">История</a>
        <a th:href="@{filmography}">Фильмография</a>
    </div>
</div>

<div class="newsheader">
    <h1>НОВОСТИ</h1>
</div>

<button onclick="topFunction()" id="histbtn" title="В начало">Наверх</button>

<div class="row">
    <div class="side">
        <h2 class="side_title">Главные</h2>

        <h1 class="side_top_text">Хаяо Миядзаки снимет последний фильм для Гибли</h1>
        <img class="img6" src="" th:src="@{~/images/news/miadz.jpg}" alt="">
        <p class="side_bott_text">Хаяо Миядзаки выйдет с пенсии, чтобы снять последний
            полнометражный мультфильм для Гибли. Мультфильм основан на книге Гендзабуро Есино
            1937 года «Как поживаешь?».
            <a href="https://daily.afisha.ru/news/amp/57276/">[...]</a>
        </p>

        <h1 class="side_top_text">В ноябре 2022 года откроется «Парк Гибли» в Айти</h1>
        <img class="img6" src="" th:src="@{~/images/news/park.JPG}" alt="">
        <p class="side_bott_text">1 ноября 2022 года в мемориальном парке Айти Экспо в городе Нагакутэ
        откроется тематический парк «Гибли». Это совместный проект префектуры Айти и Studio
        Ghibli. Часть строительной площадки уже открыта.
        <a href="https://www.nippon.com/ru/guide-to-japan/gu900209/amp/">[...]</a>
        </p>


    </div>
    <div class="main">

        <h2 class="side_title">Последние</h2>

        <div class="pic" th:each="news :${list_news}">
            <img class="img5" src="" th:src="@{/image/{id}(id=${news.image.getImageId()})}" alt="">
            <div>
                <h1 class="top_text" th:text="${news.title}"/>
                <p class="bott_text" th:text="${news.text}"/>
                    <a th:href="${news.link}">[...]</a>
                </p>
                <p class="bott2" th:text="${news.date}"/>
            </div>

        </div>


    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="copyright">
            © 2022 by Natalia Bodiul
        </div>
    </div> <!-- container -->
</footer>


<script>
    var mybutton = document.getElementById("histbtn");

    // Показать кнопку, пролистав
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // При нажатии на кнопку, вернуться в начало страницы
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

</body>
</html>