<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/css?
	family=Amatic+SC|Montserrat:400,700&amp;subset=cyrillic-ext"
	rel="stylesheet">
	
</head>
<body>

<header class="header">
	<div class="container">
		<div class="header_inner">
			<div class="header_logo">by Natalia Bodiul</div>
			
			<nav class="nav">
				<a class="nav_link" href="#">О студии</a>
				<a class="nav_link" href="#">История</a>
				<a class="nav_link" href="#">Фильмография</a>
				<a class="nav_link" href="#">Новости</a>
				<a class="nav_link" href="#">Контакты</a>
				<a class="nav_link" th:href="@{~/registration}">Вход</a>
			</nav>
		</div>
	</div>
</header>

<div class="intro">
	<div class="container">
		<div class="intro_inner">
			<h1 class="intro_title">Студия Гибли</h1>
			<h2 class="intro_subtitle">Данный сайт посвящен японской анимационной студии, её истории и фильмографии.
			Если вам интересно больше узнать о полюбившихся фильмах или основателях студии, добро пожаловать.</h2>
			<a class="btn" href="#">Узнать больше</a>
		</div>
	</div>
</div>

<section class="section">
	<div class="container">
	
		<div class="section_header">
			<h3 class="section_title">О студии</h3>
			<div class="section_text">
				<p>Studio Ghibli (スタジオジブリSutajio Jiburi) — японская анимационная студия , которую критики и многие 
				кинозрители считают одной из лучших анимационных студий в мире на сегодняшний день. Студия наиболее 
				известна своими полнометражными анимационными фильмами, а также выпустила несколько короткометражных 
				фильмов, телевизионных рекламных роликов и телефильм. Она был основан 15 июня 1985 года режиссерами 
				Хаяо Миядзаки, Исао Такахата и продюсером Тосио Судзуки после успеха аниме-фильма 
				« Навсикая из долины ветров» (1984). Studio Ghibli также сотрудничала со студиями видеоигр в визуальной 
				разработке различных видеоигр. Шесть фильмов Studio Ghibli входят в десятку самых кассовых аниме-фильмов, 
				снятых в Японии, а второе место занимает « Унесенные призраками» (2001), собравший более 360 миллионов 
				долларов по всему миру. Многие из работ студии получили Гран-при Animage Anime, а четыре из них - премию 
				Японской академии анимации года. Пять фильмов Studio Ghibli были номинированы на премию « Оскар ». 
				«Унесенные призраками» получили «Золотого медведя» в 2002 году и премию «Оскар» за лучший полнометражный 
				анимационный фильм в 2003 году. Тоторо, персонаж из «Мой сосед Тоторо», является талисманом студии.
				3 августа 2014 года Studio Ghibli временно приостановила производство после ухода Миядзаки на пенсию. 
				В феврале 2017 года Тошио Судзуки объявил, что Миядзаки снова приступает к работе, чтобы снять новый 
				художественный фильм «Как ты живешь?», со студией Ghibli.</p>
			</div>
		</div>
		
	</div>
</section>

</body>
</html>